body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

/*ts aint gon be blue themed ):*/

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #1e1e1e;
    color: white;
}

/*media queries if I dont forget ^^*/

.left {
    flex: 1;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.right a {
    border-left: 1px solid rgb(213, 213, 213);
    padding-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.navbarTitle {
    margin: 0;
    font-size: 1.6rem;
}






.homeInsides {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
}





.filterPos {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    width: 100%;
    padding: 40px 0;
    border-bottom: 4px solid rgb(208, 208, 208);
}

.filterMenu {
    display: flex;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 70vw;
    height: 300px;
}

.filterMenuContent {
    font-size: 1.2rem;
    padding: 30px;
}








.phoneList {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
}

.phoneListLayoutHome {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
}

.phoneListLayoutHome .phoneStylingHome {
    width: 370px;
    height: auto;
    color: rgb(124, 124, 124);
    font-weight: bold;
    margin: 10px;
}

.phoneStylingHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px 25px;
}

.phoneStylingHome a {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
}

.phoneStylingHome a p {
    margin: 0;
}

.phoneContentHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.phoneTextHome {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.phoneStylingHome a:hover {
    text-decoration: underline;
}

.phoneTextHome p {
    text-align: right;
    margin: 2px;
    font-size: 1.1rem;
}

.phoneImgHome img {
    width: 90px;
}





.compareButton{
    border-radius: 50px;
    width: 120px;
    height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 5, 5);
}

.compareButtonPlacement {
    display: flex;
    justify-content: center;
}

.phoneTextHome .compareButtonPlacement {
    margin-top: 40px;
}



.phoneInsides {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.phoneLayoutPhones {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 35px 0;
    width: 100%;
    height: auto;
}

.phoneStylingPhones {
    display: flex;
    border: 2px solid #ccc;
    background-color: #ffffff;
    padding: 20px 50px 20px 0;
    border-radius: 10px;
}

.phoneImagePhones img {
    width: 200px;
}

.rightDesc {
  flex: 2;
}

.leftImg {
  flex: 1;
  text-align: center;
}


.specBlock {
  margin-bottom: 1rem;
}

.specBlock h3 {
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #ccc;
}


.phoneTopSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.phoneTopSection h1, .compareButtonPlacement {
    align-content: center;
    margin: 0;
}

.phoneTopSection h1 {
    width: 70%;
}

.phoneTopSection .compareButtonPlacement {
    width: 30%;
}

.phoneTopSection .compareButton {
    width: 100%;
}

.footer {
    display: flex;
    position: relative;
    background-color: #1e1e1e;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    color: white;
}


.footerContent {
    padding: 50px;
}